body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* HEADER */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 20vh;
  padding-left: 5%;
  padding-right: 5%;
}
.Title img {
  width: 500px;
}
/* LOGIN AREA */
.Login {
  background-color: darkkhaki;
  text-align: right;
  border-radius: 10px;
  padding: 10px;
}
.Login input {
  margin-bottom: 5px;
  padding: 2px;
}
.Login h4 {
  text-align: center;
  color: white;
}
.Login button {
  border: none;
  padding: 5px;
  color: white;
  background-color: green;
}
.User-box p {
  font-size: .7em;
  padding-bottom: 10px;
}
/* MARKET ITEMS */
.Maret-item {
  background-color: peru;
  color: white;
}

/* FARM ITEMS */

/* FOOTER */
.Footer {
  background-color: darkgrey;
  padding: 10px;
}

@media (max-width: 840px) {
  .Title img {
    width: 350px;
  }
}
@media (max-width: 670px) {
  .Title img {
    width: 220px;
  }
  .Login {
    padding: 0px;
    text-align: center;
    margin-left: 10px;
  }
  .Login input {
    margin-bottom: 1px;
    padding: 0px;
    width: 80px;
  }
  .Header {
    height: 18vh;
  }
}


