body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 20vh;
  padding-left: 5%;
  padding-right: 5%;
}
.Footer {
  background-color: darkgrey;
  padding: 10px;
}
.Login {
  background-color: darkkhaki;
  text-align: right;
  border-radius: 10px;
  padding: 10px;
}
.Login input {
  margin-bottom: 5px;
  padding: 2px;
}
.Login h4 {
  text-align: center;
  color: white;
}
.Login button {
  border: none;
  padding: 5px;
  color: white;
  background-color: green;
}
.User-box p {
  font-size: .7em;
  padding-bottom: 10px;
}


